<ion-header>
  <ion-toolbar class="gradient-header">
    <div class="dh">
    <ion-buttons slot="start">
      <ion-back-button style="color: #ffffff;" defaultHref="inbox"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #ffffff;">
      Inbox Id : 45874
    </ion-title>
    </div>
    <div class="details-btn-row">
    <ion-button expand="block" class="details-btn" shape="round">
      Subject: Test
      <!-- <ion-icon name="chevron-down-outline" slot="end"></ion-icon> -->
    </ion-button>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <div class="ppmb20 ppmt2">

  <!-- Chat bubbles -->
  <div class="chat-bubble left">
    <span class="bubble-text">
      Agreed. Automated my phone bill payment through it. Saves time.
    </span>
    <span class="bubble-time">08:19 AM</span>
  </div>
  <div class="chat-bubble right green">
    <img class="bubble-img" src="https://images.unsplash.com/photo-1519125323398-675f0ddb6308" />
    <span class="bubble-text">
      Yes, just paid my utilities. Super convenient.
    </span>
    <span class="bubble-time">08:17 AM</span>
  </div>
  <div class="chat-bubble system">
    <span class="bubble-text">
      Your ticket has been received—our team is reviewing it and will get back to you shortly.
    </span>
    <span class="bubble-tag">System Generated</span>
    <span class="bubble-time">08:19 AM</span>
  </div>
</div>

  <!-- Action buttons -->
  <!-- <div class="actions-row">
    <ion-button class="reopen-btn" shape="round">Ticket Re - Open</ion-button>
    <ion-button fill="clear" class="refresh-btn" size="small">
                    <img src="assets/imgs/dashboard_new/refresh-cw.png" > 
    </ion-button>
    <ion-button fill="clear" class="edit-btn" size="small">
                    <img src="assets/imgs/dashboard_new/Path.png" > 

    </ion-button>
  </div> -->
</ion-content>
  <!-- Message Input -->
   <ion-footer class="chat-footer">
  <div class="chat-input-row">
    <ion-item lines="none" class="chat-input pppr0">
              <img src="assets/imgs/dashboard_new/Path.png" class="ppmr3 wdth6"> 

      <ion-textarea placeholder="Write a message" style="--padding-start: 10px;
    --background: #d0d0d0;--border-radius: 6px;--padding-bottom: 50px;--padding-end: 22px;
    --padding-top: 15px;height: 100px; width: 96%;position: relative;left: 1%;" 
    fill="outline" id="create-textarea" autocomplete="on" autocorrect="on" spellcheck="true"
            autocapitalize="sentences"></ion-textarea>
      <ion-button class="send-btn" fill="none" class="ppml0 wdth18 " >
        <img src="assets/imgs/dashboard_new/Button.png">
      </ion-button>
    </ion-item>
  </div>
  </ion-footer>
