<app-custom-toolbar [title]="'Appointment No : 2101'" [showBackButton]="true"
  [showMenuButton]="true" [showThreeDots]="false" [backUrl]="'/BookAppointmentPage'">
</app-custom-toolbar>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-row class="border-bottom-gray pppy3">
      <ion-col size="6" style="color: rgb(99, 99, 99);">Appointment Date</ion-col>
      <ion-col size="1" style="color: rgb(99, 99, 99);">:</ion-col>
      <ion-col size="5" class="dh ds txts"><strong>2026-07-06</strong></ion-col>
    </ion-row>
    <ion-row class="border-bottom-gray pppy3">
      <ion-col size="6" style="color: rgb(99, 99, 99);">Appointment Time</ion-col>
      <ion-col size="1" style="color: rgb(99, 99, 99);">:</ion-col>
      <ion-col size="5" class="dh ds txts"><strong>05:00 PM</strong></ion-col>
    </ion-row>
    <ion-row class="border-bottom-gray pppy3">
      <ion-col size="6" style="color: rgb(99, 99, 99);">Status</ion-col>
      <ion-col size="1" style="color: rgb(99, 99, 99);">:</ion-col>
      <ion-col size="5" class="dh ds txts"><strong>Booked</strong></ion-col>
    </ion-row>
    <ion-row class="border-bottom-gray pppy3">
      <ion-col size="6" style="color: rgb(99, 99, 99);">Assigned Employee</ion-col>
      <ion-col size="1" style="color: rgb(99, 99, 99);">:</ion-col>
      <ion-col size="5" class="dh ds txts"><strong>CRM Finance Folium by Sumadhura</strong></ion-col>
    </ion-row>
    <ion-row class="border-bottom-gray pppy3">
      <ion-col size="6" style="color: rgb(99, 99, 99);">Appointment For</ion-col>
      <ion-col size="1" style="color: rgb(99, 99, 99);">:</ion-col>
      <ion-col size="5" class="dh ds txts"><strong>Interest Related clarification</strong></ion-col>
    </ion-row>
  </ion-list>

  <div style="padding: 4px;">
    <ion-text color="medium">
      <label>Description of the Appointment:</label>
    </ion-text>
  </div>
</ion-content>
