<app-custom-toolbar [title]="'MPR'" [showBackButton]="true" [showMenuButton]="false" [showThreeDots]="false"
  [backUrl]="'/dashboard'">
</app-custom-toolbar>

<ion-content [fullscreen]="true" class="mpr-page">
  <div style="margin-top: 7px;">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </div>

  <ion-list lines="none">
    <ion-item class="mpr-item" *ngFor="let item of mpr_list |filter:search:filterKeys"
      (click)="statusChnge(item, item.devices)">
      <!-- Left: Report Name -->
      <ion-label>
        <h2 class="mpr-title">{{ item.mprName }}</h2>
        <p class="mpr-subtitle">Monthly Progress Report</p>
      </ion-label>

      <!-- Right: PDF Icon -->
      <ion-button fill="clear" size="small"
        (click)="myUrl(item.mprDocumentsResponseList[0]?.documentLocation); $event.stopPropagation()">
        <ion-icon name="document-text-outline" slot="icon-only" class="pdf-icon"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>