<app-custom-toolbar 
  [title]="'Project Updates'" 
  [showBackButton]="true"
  [showMenuButton]="false" 
  [showThreeDots]="false" 
  [backUrl]="'/dashboard'">
</app-custom-toolbar>

<ion-content>
  <div class="search-container">
    <ion-searchbar class="search" [(ngModel)]="searchText" placeholder="Search..."></ion-searchbar>
  </div>

  <div class="card-list">
   <ng-container *ngFor="let update of dataArray | filter:searchText:filter_Keys; let i = index">
  <ion-card 
    [ngClass]="getDeviceStatusClass(update.devices, appRegId)"
    (click)="openDetail(update)"
    class="update-card"
  >
    <ion-card-content>
      <div class="card-row" (click)="goToViewPage(update)">
        <ng-container *ngFor="let item of update.devices">
          <!-- Block for NOT viewed -->
          <ng-container *ngIf="item.viewStatus == false && (item.appRegId == appRegId)">
            <!-- ... false block as you have ... -->
            <div class="logo-section">
              <img
                *ngIf="!update.image || update.image === 'NA'; else showUpdateImage"
                [src]="siteImagesMap[update.siteName] || 'assets/imgs/Notifications_Default_Images/default.jpg'"
                class="imgcls"
                alt="Site Image"
              />
              <ng-template #showUpdateImage>
                <img
                  [src]="update.image"
                  class="imgcls"
                  alt="Update Image"
                />
              </ng-template>
            </div>
            <div class="content-section ppml3">
              <div class="update-title">{{ update.message | truncate : 22 : "..." }}</div>
              <div class="update-desc" [innerHTML]="update.descriptionWithOutTags | truncate : 30 : '...'"></div>
              <div class="update-date dh de">{{ update.createdDate | date : 'fullDate' }}</div>
            </div>
            <div class="arrow-section">
              <ion-icon name="arrow-forward-circle-sharp" class="arrow"></ion-icon>
            </div>
          </ng-container>
          <!-- Block for VIEWED: Use viewStatus == true -->
          <ng-container *ngIf="item.viewStatus == true && (item.appRegId == appRegId)">
            <!-- ... true block ... -->
            <div class="logo-section">
              <img
                *ngIf="!update.image || update.image === 'NA'; else showUpdateImage2"
                [src]="siteImagesMap[update.siteName] || 'assets/imgs/Notifications_Default_Images/default.jpg'"
                class="imgcls"
                alt="Site Image"
              />
              <ng-template #showUpdateImage2>
                <img
                  [src]="update.image"
                  class="imgcls"
                  alt="Update Image"
                />
              </ng-template>
            </div>
            <div class="content-section ppml3">
              <div class="update-title">{{ update.message | truncate : 22 : "..." }}</div>
              <div class="update-desc" [innerHTML]="update.descriptionWithOutTags | truncate : 30 : '...'"></div>
              <div class="update-date dh de">{{ update.createdDate | date : 'fullDate' }}</div>
            </div>
            <div class="arrow-section">
              <ion-icon name="arrow-forward-circle-sharp" class="arrow"></ion-icon>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
</ng-container>

  </div>
</ion-content>
