<app-custom-toolbar [title]="'Uploaded Documents'" [showBackButton]="true"
  [showMenuButton]="false" [showThreeDots]="false" [backUrl]="'/dashboard'">
</app-custom-toolbar>

<ion-content [fullscreen]="true">

<ion-grid class="ion-padding">
  <ion-row>
    <ion-col size="6" size-md="4">
      <ion-card class="doc-card" (click)="pastUploadimages()">
        <ion-card-content class="ion-text-center">
          <ion-icon name="folder-open-outline" class="doc-icon"></ion-icon>
          <h3 class="doc-title">Uploaded Documents</h3>
          <p class="doc-subtitle">Tap to view all</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>




</ion-content>
